input{
       	file{
          path => "/Users/amitarora/Amit/workspace/utsav-workspace/utsav-notification-services/logs/utsav-notification-2019-11-16-1.log"
          start_position => "beginning"
          sincedb_path => "/Users/amitarora/Amit/workspace/poc-workspace/logstash/utsav_logstash"
	  codec => multiline {
      		pattern => "^%{TIMESTAMP_ISO8601}"
      		negate => true
      		what => "previous"
    		}	
	}
}
filter{
  	mutate {
    		gsub => [ "message", "\n", "" ]
  	}
	grok {
    		match => { "message" => "(?m)%{TIMESTAMP_ISO8601:timestamp} \[.*%{LOGLEVEL:logLevel}\] \[%{INT:pid}-\(%{DATA:thread}\)\] \[%{DATA:class}\] : %{GREEDYDATA:message}" }
    		overwrite => [ "message" ]
		add_field => {  "greeting_host" => "Hello world, from %{host}" }
		add_tag =>  [ "My_Secret_Tag" ] 
  	}
	date {
    		match => [ "timestamp" , "yyyy-MM-dd HH:mm:ss.SSS" ]
  	}
}
output{
     elasticsearch{
     	hosts => ["localhost:9200"]
     	index => "utsav_index"
     }
     stdout{}
}

